
@media print {
    *, *::before, *::after {
        background: none !important;
    }

    body {
        font-size: 11px;
        overflow: unset;
    }

    .page__header,
    .page__footer,
    .title__logo {
        display: none;
    }

    .page__content {
        position: static;
    }

    .page__content,
    .section__title {
        display: block;
    }

    .section__title > * {
        display: inline-block;
        margin-right: 0.3em;
        font-weight: bold;
        font-size: 1.3em;
    }

    .title__segment--top-1,
    .title__segment--top-3,
    .title__segment--lower-1,
    .title__segment--lower-3 {
        border: none;
    }

    .title__segment--center,
    .title__segment--under {
        color: black;
    }

    section {
        display: block !important;
        page-break-after: always;
        font-size: .8em;
        position: static !important;
        transform: unset !important;
        background: unset;
        transition: unset;
        z-index: unset !important;
        top: unset;
        left: unset;
    }

    section:not([class~=title]) h1 {
        font-size: 1.1em;
    }

    .slide__frame {
        opacity: 1;
    }

    code {
        font-size: .7em
    }

    *[hidden] {
        display: none !important;
    }

    .progress-bar {
        display: none;
    }
}
