
@media print {
  *, *::before, *::after {
    background: none !important;
  }

  body {
    font-size: 11px;
    overflow: unset;
    position: unset;
  }

  .page__content {
    position: static;
  }

  .page__content,
  .section__title {
    display: block;
    color: #000 !important;
  }

  .section__title > * {
    display: inline-block;
    margin-right: 0.3em;
    font-weight: bold;
    font-size: 1.3em;
  }

  section {
    page-break-after: always;
    font-size: .8em;
    position: static !important;
    transform: unset !important;
    background: unset;
    transition: unset;
    z-index: unset !important;
    top: unset;
    left: unset;
  }

  section:not([class~=title]) h1 {
    font-size: 1.1em;
  }

  .slide__frame {
    opacity: 1;
  }

  a {
    color: #333;
    font-style: italic;
  }

  code {
    font-size: .7em
  }

  *[hidden] {
    display: none !important;
  }

  .progress-bar {
    display: none;
  }

  .comment {
    color: #333;
  }
}
