$main-color: #729c34;
$main-color-ll: desaturate(lighten($main-color, 31%), 5%);
$main-color-l: desaturate(lighten($main-color, 15.3%), 15%);
$main-color-d: saturate(darken($main-color, 14%), 20%);
$main-color-dd: saturate(darken($main-color, 26%), 50%);

$color-bg-dark: #111;
$color-bg-light: #fff;
$color-text-dark: #fff;
$color-text-light: #000;
$color-text: $color-text-light;
$color-bg: $color-bg-light;

$transition-time: 300ms;
$transition-time-half: $transition-time / 2;

html, body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
}

.page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  color: $color-text;
}

.progress-bar__container {
  display: block;
  height: 0.6vh;
  width: 100vw;
  background-color: $main-color;

  & > .progress-bar {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $main-color-dd;
    will-change: transform;
    transition: transform $transition-time ease-in-out;
  }
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
}

.title {
  color: $main-color-d;

  & > h1 {
    font-size: 6em;
    font-weight: 500;
    text-align: center;
    margin: 5vw 0 2vw;
  }

  & > h2 {
    font-size: 4em;
    font-weight: 500;
  }
}

.title__segment--under {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 60vw;
  margin-top: 10vh;
}

.title .author {
  font-size: 2.8em;
}

.title time {
  font-size: 1.8em;
}

section:not([class~=title]) {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5em;
  transform: translateX(100vw);
  transition: transform $transition-time ease-in-out;
  font-size: 2em;

  & h1 {
    color: $main-color-d;
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: 400;
  }
  
  & h2 {
    margin-bottom: 0.3em;
    font-size: 1.25em;
    font-weight: 400;
  }
}

ul, ol:not(.table-of-contents) {
  margin-left: 1.3em;
  margin-bottom: .5em;
}

.hint-list {
  list-style: none;
  padding-left: 2em;
  position: relative;
}

.hint-list__elem::before {
  content: '☞';
  position: absolute;
  left: .5em;
}

.table-of-contents {
  list-style-type: none;
  margin-left: 0.3em;
}

.table-of-contents > li {
  counter-increment: toccounter;
}

.table-of-contents > li::before {
  content: counter(toccounter);
  float: left;
  width: 1.5em;
}

a {
  text-decoration: none;
  color: $color-text;
}

a[target=_blank]::before {
  content: '↗ ';
  color: $main-color;
}

a:hover, a:focus {
  color: $main-color;
  text-decoration: underline;
}

p {
  margin-bottom: .5em;
}

.slide__frame {
  opacity: 0;
  will-change: opacity;
  transition: opacity $transition-time;
}

.slide__frame.show {
  opacity: 1;
}


code {
  font-family: monospace;
  border: 1px solid #bbb;
  padding: 2px;
  line-height: 1.4em;
  font-size: .8em;
  display: inline-block;
  margin-bottom: .5em;
}

.box--green {
  background-color: $main-color-dd;
  border:1px solid $main-color-d;
  padding:2px;
}

.text--highlight {
  color: $main-color;
}

.comment {
  color: #bbb;
  font-family: inherit;
  font-style: italic;
}
